{% extends 'base.html' %}
{% block title %}Recuperar senha{% endblock %}

{% block content %}
    <body>
        <main class="container">
            <div class="p-2 rounded mt-5">
                <div class="text-center">
                    <h1 class="h3 mb-3 font-weight-normal">ITeamManager - Recuperar senha</h1>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="alert alert-info">
                                <h4 class="alert-heading">Concluído!</h4>
                                <p>Um email foi enviado para a sua caixa de entrada do email digitado, verifique também no spam e
                                excluídos e clique no link para concluir a recuperação da senha</p>
                                <hr>
                                <p class="mb-0"><a class="alert-link" href="{% url 'login' %}">Voltar para login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
{% endblock %}